<div class="h-screen w-screen p-2">
  <nav class="navbar bg-base-300 shadow-xl rounded-box mb-10">
    <div class="flex-1">
      <a routerLink="" class="btn btn-ghost normal-case text-xl">styleLIB</a>
    </div>
    <div class="flex-none">
      <ul class="menu menu-horizontal px-1">
        <li *ngFor="let route of routes">
          <a [routerLink]="route.url" routerLinkActive="active">{{
            route.label
          }}</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="py-2 rounded-box">
    <router-outlet></router-outlet>
  </div>
</div>
