<div class="hero min-h-fit py-24 bg-base-200">
  <div class="hero-content text-center">
    <div class="max-w-md">
      <h1 class="text-5xl font-bold">A component library for angular</h1>
      <p class="py-6">
        Welcome to my Angular style library! We offer a variety of styles for
        your web development projects. Choose from sleek modern styles or more
        traditional looks. Our styles are easy to implement, saving you time and
        resources. Browse our library today and find the perfect style for your
        project!
      </p>
      <a routerLink="/buttons" class="btn btn-primary mr-4">Get Started</a>
      <a routerLink="/" class="btn">Contact us</a>
    </div>
  </div>
</div>
